body{
font-family: 'Bebas Neue', cursive;
      font-family: 'Poppins', sans-serif;
      font-family: 'Roboto', sans-serif;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 50px;
      margin-bottom: 0;

}
p{
      font-size: small;

}
.one{
color: orangered;
}
h1{
font-size: 50px;
}
span{
color:navy ;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(tomato,orange);
padding:7px 30px ;
 color:white ;
border-radius:30px ;
}
.first-section{
display: flex;
}
.first-section img{
width: 70%;
} 

.half-width{
width:50% ;
padding-left:30px ;
}
.second-section{
display: flex;
}
.second-section img{
width: 70%;
}
.orange-red{
color: orangered;
}
.section{
text-align: center;
}
.third-section{
display: flex;
}
.third-section img{
width: 100%;
}
.width{
padding:10px 20px 30px   ;
text-align: justify;
box-shadow: 5px 10px 5px  gray ;
margin-left:30px ;
border-radius:20px ;
border-left:  solid orange;
margin-bottom:150px ;

}
.forth-section{
display: flex;


}
.blue{
background-color: navy;
      color: white;
      padding: 3% 30% 3%;
      margin-left: 15%;
      border-radius: 20px;
      margin-bottom:80px ;
}
.stay{
text-align: center;

}
.social-media{
      display: flex;
      padding-left:43% ;
      margin-bottom: 60px;
}
.social-media img{
      width: 5%;
      padding-left: 3%;
}


footer{
      background-color:  black;
      text-align: center;
      border: 1px solid black;
      padding: 20px     5px;
      font-size: smaller;
      color: white;
}

